<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Ultima ratio</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/common.css" />
	<link rel="stylesheet" href="~/css/content.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<header>
		<img src="@Url.Content("~/Content/logo.jpg")" alt="@ViewData["Title"]" />
		<ul class="menu-main">
			<li><a href="/Home/AboutUs">О Нас</a></li>
			<li><a href="/Home/Photos">Фотографии</a></li>
			<li><a href="/Home/Hema">Hema</a></li>
			<li><a href="/Home/Links">Ссылки</a></li>
			<li><a href="/Home/Contacts">Контакты</a></li>
		</ul>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<footer class="border-top footer text-muted">
		<div class="footer">
			<a href="https://vk.com/ultima_ratio_hema" target="_blank">
			<i class="fa fa-vk"></i>
			</a>
			<a href="https://www.instagram.com/ultimaratio_hema/" target="_blank">
				<i class="fa fa-instagram"></i>
			</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
